### Get pandas dataframes

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

airports = 'airports.csv'
airlines = 'airlines.csv'
planes = 'planes.csv'
weather = 'weather.csv'

airports_df = pd.read_csv(airports)
weather_df = pd.read_csv(weather)

In [2]:
airports_df.head()
len(airports_df.index)

1458

In [3]:
maxLat = 64.85694
minLat = 19.50139
maxLon = -68.01197
minLon = -161.75583

#Filter out longitud to only inglude USA longitud and latitud range of USA
usa_airports = airports_df[(airports_df['lon'] >= minLon) & (airports_df['lon'] <= maxLon) & (airports_df['lat'] >= minLat) & (airports_df['lat'] <= maxLat)]
len(usa_airports.index)

usa_airports[usa_airports.lat == usa_airports.lat.max()]

     faa      name      lat         lon  alt  tz dst              tzone
470  FBK  Ladd Aaf  64.8375 -147.614444  454  -9   A  America/Anchorage

### Northernmost airport in the United States in USA is Ladd Aaf [FBK]

In [4]:
usa_airports[usa_airports.lon == usa_airports.lon.max()]

     faa          name      lat        lon  alt  tz dst             tzone
259  CAR  Caribou Muni  46.8715 -68.017917  626  -5   A  America/New_York

### Easternmost airport in the United States is Caribou Muni [CAR]

In [5]:
weather_df.head()

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,1,39.02,26.06,59.37,270.0,10.35702,NaN,0.0,1012.0,10.0,2013-01-01T06:00:00Z
1,EWR,2013,1,1,2,39.02,26.96,61.63,250.0,8.05546,NaN,0.0,1012.3,10.0,2013-01-01T07:00:00Z
2,EWR,2013,1,1,3,39.02,28.04,64.43,240.0,11.50780,NaN,0.0,1012.5,10.0,2013-01-01T08:00:00Z
3,EWR,2013,1,1,4,39.92,28.04,62.21,250.0,12.65858,NaN,0.0,1012.2,10.0,2013-01-01T09:00:00Z
4,EWR,2013,1,1,5,39.02,28.04,64.43,260.0,12.65858,NaN,0.0,1011.9,10.0,2013-01-01T10:00:00Z

In [6]:
weather_df.isnull().sum()

origin            0
year              0
month             0
day               0
hour              0
temp              1
dewp              1
humid             1
wind_dir        460
wind_speed        4
wind_gust     20778
precip            0
pressure       2729
visib             0
time_hour         0
dtype: int64

In [7]:
weather_n = weather_df[(weather_df.year == 2013) & (weather_df.month == 2) & (weather_df.day == 12)]
weather_n = weather_n.dropna(subset = ['wind_gust', 'wind_speed'])

In [8]:
weather_n[(weather_n.wind_gust == weather_n.wind_gust.max()) & (weather_n.wind_speed == weather_n.wind_speed.max())]

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
18417,LGA,2013,2,12,2,42.98,26.06,50.94,290.0,23.0156,31.07106,0.0,1007.1,10.0,2013-02-12T07:00:00Z

### On February 12th, 2013, LGA airport had the windiest weather